.group {
    height: 50px;
    display: grid;
    place-items: center;
    grid-template-columns: 50px 1fr 50px;
    background-color: var(--white-smoke);
    border-radius: 10px;
    font-size: 3.5rem;
    transition: all linear .5s;
}

.moreGroupOptions {
    width: 200px;
    height: auto;
    position: relative;
    top: -40px;
    left: 410px;
    background-color: var(--platinum);
    z-index: 1;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
}

.moreGroupOptions span {
    font-size: 2.5rem;
    color: var(--white-smoke);
}

.moreGroupOptions button {
    font-size: 2.5rem;
}

.group svg {
    transform: scale(1.4);
    cursor: pointer;
}

.group input {
    position: absolute;
    width: 480px;
    text-align: center;
    border: solid 4px var(--coral);
    border-radius: 0;
    outline: 0;
}