<head>
  <link rel="stylesheet" href="./groups.component.css">
</head>

<div class="productsMagnament">
  <div class="productsMagnamentNav windowDetails">
    <button class="navBtn" (click)="selectTab('Grupos')">Productos</button>
    <button class="navBtn" (click)="selectTab('Ingredientes')">Ingredientes</button>
    <button class="navBtn" (click)="selectTab('wasd')">Promos</button>
    <button class="navBtn" (click)="selectTab('Ingr')">Descuentos</button>
  </div>
  <div class="productsMagnamentMain">
    @if (selectedTab === 'Grupos') {
    <div class="groupsWindow" class="groupsWindow">
      <div class="productsMagnamentList windowDetails">
        <input class="mb10" type="text" placeholder="Filtrar por grupos">
        <app-group-list />
    </div>
    <div class="productsMagnamentPanel">
      <div class="windowDetails mb10">
        <p class="mb10">Crear nuevo grupo</p>
        <div class="inputAndConfirm mb10">
          <input type="text" placeholder="Nombre del grupo">
          <button>+</button>
        </div>
      </div>
      <div class="windowDetails">
        <p class="mb10">Crear nuevo producto</p>
        <input type="text" placeholder="Nombre del producto" class="mb10">
        <input type="text" placeholder="Precio del producto" class="mb10">
        <input type="text" placeholder="Costo del producto" class="mb10">
        <input type="text" placeholder="Codigo del producto" class="mb10">
        <select name="" id="" class="mb10">
        </select>
        <button class="listBtn">Crear</button>
      </div>
    </div>
  </div>
  }
  @if (selectedTab === 'Ingredientes') {
  <div class="ingredientsWindow" class="groupsWindow">Ingredientes</div>
  }
</div>
</div>